/* Feedback.css */

.feedback_logo {
    width: 30%;
    margin-bottom: 10px;
    
  }

.feedback_btn{
        display: 'flex';
        align-items: center;
    padding: 8px 20px;
    border: 2px solid green;
    border-radius: 15px;
    cursor: pointer;
    background-color: #67a148;
    color: #fff;   
   
}

.feedback_btn:hover{
 
    background-color: #eaeceb;
    color: #1e7e34;
    text-shadow: #1e7e34;
   
  }


  .Order_btn{
    display: 'flex';
  align-items: center;
  padding: 8px 20px;
  border: 2px solid green;
  border-radius: 15px;
  cursor: pointer;
  background-color: #67a148;
  color: #fff;   
  width: 100%;
  margin-top: 15px;
  }
  
  .Order_btn:hover{
   
    background-color: #eaeceb;
    color: #1e7e34;
    text-shadow: #1e7e34;
   
  }


.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.feedback-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 550px;
    max-width: 90%;
    position: relative;
    z-index: 100;
}

.feedback-form h2 {
    margin-bottom: 10px;
}

.feedback-form p {
    margin-bottom: 20px;
}

.rating span {
    font-size: 25px;
    cursor: pointer;
    color: #ddd;
}

.rating span.active {
    color: #f39c12;
}

.improvement-options label {
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #5c5cff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
}

.feedback-form form {
    margin: 0;
}

.feedback-form form label {
    margin-bottom: 5px;
    display: block;
}